@import "../styles/vars.scss";
@import "../styles/mixins.scss";

.not-found {
  margin-top: 400px;
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
}

.in-development {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  height: 400px;
  h1 {
    color: $black;
  }
  button {
    font-size: 14px;
    text-transform: uppercase;
    color: $black;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
    padding: 14px 39px;
    transition: all 0.2s linear;
    &:hover {
      background-color: #222434;
      color: $white;
    }
    button-text {
    }
  }
}
