@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.container {
  max-width: 1170px;
  max-height: 400px;
  padding: 0 135px;
  margin: 0 auto;
  @include breakpoint($mobile-bp) {
    padding: 0 23px;
  }
}

.header {
  background-color: $black;
}

.header-top {
  padding: 16px 0 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include breakpoint($mobile-bp) {
    justify-content: center;
    padding: 10px 0 80px;
  }
}

.header-brand {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.header-button {
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
  padding: 14px 39px;
  transition: all 0.2s linear;
  &:hover {
    background-color: #222434;
  }
  @include breakpoint($mobile-bp) {
    display: none;
  }
}

.header-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  h2 {
    font-size: 72px;
    font-family: "Epilogue";
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 34px;
    @include breakpoint($mobile-bp) {
      font-size: 56px;
      margin-bottom: 23px;
    }
  }

  p {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    color: $gray;
    margin-bottom: 57px;
    font-family: "Regular";
    line-height: 2.1;
    @include breakpoint($mobile-bp) {
      margin-bottom: 80px;
      line-height: 1.9;
    }
  }
}

.nav {
  width: 50%;
  @include breakpoint($mobile-bp) {
    display: none;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  text-decoration: none;
}

.nav-link {
  color: $white;
  text-decoration: none;
  transition: all 0.2s linear;
  &:hover {
    text-decoration: underline;
  }
}
