@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.container {
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 500px;
  }
}
