.navbar {
  height: 400px;
  left: 0px;
  top: 0px;
  background: #101010;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar-footer {
  display: flex;
  flex-direction: column;
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #faebce;
  margin-bottom: 50px;
}

.links-wrap {
  width: 522px;
  height: 21px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.span {
  width: 570px;
  height: 66px;
  font-size: 16;
  color: #ffffff;
}
